
<!DOCTYPE html>
<html>
  <head id="meta">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Cryptocurrency Arbitrage Monitor</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="icon" href="./favicon.ico">
  </head>
  <body>
    <div id="app" v-cloak data-refresh_rate="2">
      <div class="col-md-12">
        <div class="hidden-xs">
          <h3>Options:</h3>
          <div class="row">
            <div class="col-md-4">
              <label for="id-btcpln">BTC/PLN Price:</label>
              <input id="id-btcpln" type="number" v-model="btcplnPrice">
            </div>
            <div class="col-md-4">
              <label for="id-ethpln">ETH/PLN Price:</label>
              <input id="id-ethpln" type="number" v-model="ethplnPrice">
            </div>
            <div class="col-md-4">
              <label for="id-freeze">Freeze the App:</label>&nbsp;
              <input id="id-freeze" type="checkbox" id="checkbox" v-model="freezeApp">
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h3>Exchanges to Watch:</h3>
            <ul>
              <li v-for="exchange in exchangeDrivers">
                    <label>{{ exchange.name }}</label>&nbsp;
                    <input type="checkbox" id="checkbox" v-model="exchange.active">
              </li>
            </ul>
          </div>
        </div>
    </div>
      <div class="container-fluid">
        <div class="row" v-for="pair in pairs">
          <div class="col-md-12">
            <h1>{{ pair.name }}</h1>
            <div class="row">
              <div class="col-md-4">
                <label>Coins:</label>&nbsp;
                <input type="number" v-model="pair.coins">
                {{ pair.name.split('-')[0] }}
                ({{ pair.coins * getCourseByExchangeName(pair, pair.exchangePairs[0].buy).ask | 8places | buyCurrency(pair.name) }})
              </div>
              <div class="col-md-3">
                <label>Percentage limit:</label>&nbsp;
                <input class="hidden-xs" type="range" min="0.5" step="0.1" max="5" v-model="pair.percentLimit"> {{ pair.percentLimit }} %
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-dark" v-if="pair.courses.length">
                  <tr class="hidden-xs">
                    <th rowspan="2" class="hidden-xs">Sound Alerts</th>
                    <th colspan="2">Exchanges</th>
                    <th colspan="2" class="hidden-xs">Prices</th>
                    <th>&nbsp;</th>
                    <th class="hidden-xs" colspan="2">Order Sizes</th>
                    <th class="hidden-xs" colspan="2">Transfer Fees</th>
                    <th class="hidden-xs" colspan="2">Profit / Loss</th>
                  </tr>
                  <tr>
                    <th>Buy</th>
                    <th>Sell</th>
                    <th class="hidden-xs">Buy</th>
                    <th class="hidden-xs">Sell</th>
                    <th>Spread</th>
                    <th class="hidden-xs">Buy</th>
                    <th class="hidden-xs">Sell</th>
                    <th class="hidden-xs" title="Fee of transfering crypto from wallets to exchanges">Deposit</th>
                    <th class="hidden-xs" title="Fee of transfering crypto back to wallets">Withdrawal</th>
                    <th class="hidden-xs">Gross</th>
                    <th>Net</th>
                  </tr>
                  <tr v-for="exchange in pair.exchangePairs" v-if="isActiveExchange(exchange.buy, exchange.sell)">
                    <td class="hidden-xs">
                      <input type="checkbox" v-model="exchange.soundAlerts" />
                    </td>
                    <td>
                      <a target="_blank" :href="getExchangeLink(exchange.buy, pair)">
                        {{ exchange.buy }}
                      </a>
                    </td>
                    <td>
                      <a target="_blank" :href="getExchangeLink(exchange.sell, pair)">
                        {{ exchange.sell }}
                      </a>
                    </td>
                    <td class="hidden-xs">
                      {{ getCourseByExchangeName(pair, exchange.buy).ask | 8places | buyCurrency(pair.name) }}
                    </td>
                    <td class="hidden-xs">
                      {{ getCourseByExchangeName(pair, exchange.sell).bid | 8places | buyCurrency(pair.name) }}
                    </td>
                    <td>
                      {{ getExchangesSpread(pair, exchange.buy, exchange.sell) }}%
                      <span
                        class="label label-warning"
                        v-if="hasArbitrage(getExchangesSpread(pair, exchange.buy, exchange.sell), exchange.soundAlerts, pair.percentLimit)"
                      >
                        ARBITRAGE
                      </span>
                    </td>
                    <td class="hidden-xs">
                      {{ getBuyQty(pair, exchange.buy) | sellCurrency(pair.name) }}
                    </td>
                    <td class="hidden-xs">
                      {{ getSellQty(pair.coins) | sellCurrency(pair.name) }}
                    </td>
                    <td class="hidden-xs">
                      {{ getTotalTransferFees(pair, getCourseByExchangeName(pair, exchange.sell).bid) | buyCurrency(pair.name) }}
                    </td>
                    <td class="hidden-xs">
                      {{ getTotalWithdrawalFees(pair, exchange.buy, exchange.sell, getCourseByExchangeName(pair, exchange.sell).bid) | buyCurrency(pair.name) }}
                    </td>
                    <td class="hidden-xs">
                      <div>
                        {{ getPLValue(pair, exchange.buy, exchange.sell) | buyCurrency(pair.name) }}
                        <span
                          class="label label-success"
                          v-if="getPLValue(pair, exchange.buy, exchange.sell) > 0"
                        >
                          PROFIT
                        </span>
                        <span class="label label-danger" v-else>LOSS</span>
                      </div>
                      <div>
                        {{ getPLNValue(getPLValue(pair, exchange.buy, exchange.sell), pair.name) }}
                      </div>
                    </td>
                    <td>
                      <div>
                        <span>
                          {{ getPLNetValue(pair, exchange.buy, exchange.sell, getCourseByExchangeName(pair, exchange.sell).bid) | buyCurrency(pair.name) }}
                        </span>
                        <span
                          class="label label-success"
                          v-if="getPLNetValue(pair, exchange.buy, exchange.sell, getCourseByExchangeName(pair, exchange.sell).bid) > 0"
                        >
                          PROFIT
                        </span>
                        <span class="label label-danger" v-else>LOSS</span>
                      </div>
                      <div>
                        {{ getPLNValue(getPLNetValue(pair, exchange.buy, exchange.sell, getCourseByExchangeName(pair, exchange.sell).bid), pair.name) }}
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.container -->
    </div>
    <script type="text/javascript" src="./js/exchanges.js"></script>
    <script type="text/javascript" src="./js/pairs.js"></script>
    <script type="text/javascript" src="./js/store.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
  </body>
</html>
